<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no,viewport-fit=cover">
  <title>{$Think.lang.lang}</title>
  <!--    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vant@2.12/lib/index.css"/>-->
  <link rel="stylesheet" href="/vant212/vant.css"/>
</head>
<body>
<div id="app">
  <van-nav-bar title="{$Think.lang.lang}" left-text="{$Think.lang.back}" left-arrow @click-left="onClickLeft">
  </van-nav-bar>
  <van-cell-group>
    <van-cell icon="other-pay" title="English" url="/index/user/lang_set?lang=en-ww" is-link></van-cell>
    <van-cell icon="other-pay" title="Brazil" url="/index/user/lang_set?lang=pt-br" is-link></van-cell>
    <van-cell icon="other-pay" title="Mexico" url="/index/user/lang_set?lang=es-mx" is-link></van-cell>
    <van-cell icon="other-pay" title="Indonesia" url="/index/user/lang_set?lang=en-id" is-link></van-cell>
    <van-cell icon="other-pay" title="Vietnam" url="/index/user/lang_set?lang=iv-vn" is-link></van-cell>
    <van-cell icon="other-pay" title="Turkey" url="/index/user/lang_set?lang=tr-tr" is-link></van-cell>
    <van-cell icon="other-pay" title="Australia" url="/index/user/lang_set?lang=en-au" is-link></van-cell>
    <van-cell icon="other-pay" title="Chinese" url="/index/user/lang_set?lang=zh-cn" is-link></van-cell>
  </van-cell-group>
</div>
<!-- 引入 Vue 和 Vant 的 JS s文件 -->
<script src="/vue26/vue.min.js"></script>
<script src="/vant212/vant.min.js"></script>
<script type="text/javascript">
  var vm = new Vue({
    el: '#app',
    data: {},
    methods: {
      details: function () {
        console.log("kkkk")
      },
      onClickLeft() {
        window.history.go(-1);
      },
    }
  })
</script>
</body>
</html>